* {
   font-family: "Raleway";
}

h3 {
   font-size: 3em;
   color: #13134d;
}
p {
   font-size: 1.25em;
   font-weight: 500;
   line-height: 1.5;
   margin: 10px 0;
}
a {
   font-weight: 500;
}

section {
   padding: 0 20px;
}

@import "./normalize.css";
@import "./header.css";
@import "./home.css";
@import "./service.css";
@import "./about.css";
@import "./serviceCard.css";
@import "./activity.css";
